
div(class="vizOuter")
    div(id='viz', class="vizInner")
        script(type="text/javascript").

            var blocks = !{JSON.stringify(latestBlocksSummary)}
            
            // Create the input graph
            var g = new dagreD3.graphlib.Graph()
                .setGraph({})
                .setDefaultEdgeLabel(function() { return {}; });
                g.graph().rankDir = 'RL';

            //Node "more..." node 
            svg_label = document.createElementNS('http://www.w3.org/2000/svg', 'text');
            
            //height span
            linkspan = document.createElementNS('http://www.w3.org/2000/svg','tspan');
            linkspan.setAttributeNS('http://www.w3.org/XML/1998/namespace', 'xml:space', 'preserve');
            linkspan.setAttribute('dy', '1em');
            linkspan.setAttribute('x', '1');
            linkspan.setAttribute('fill', 'blue');
            link = document.createElementNS('http://www.w3.org/2000/svg', 'a');
            link.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', 'https://whatsonchain.com/blocks');
            link.setAttribute('target', '_blank');
            link.textContent = 'Click here to explore more blocks....';
            linkspan.appendChild(link);
            svg_label.appendChild(linkspan);

            g.setNode(998,  { label: svg_label, labelType: 'svg' });


            for(var i=0;i<=blocks.length-1;i++) { 

                svg_label = document.createElementNS('http://www.w3.org/2000/svg', 'text');
                
                //height span
                linkspan = document.createElementNS('http://www.w3.org/2000/svg','tspan');
                linkspan.setAttributeNS('http://www.w3.org/XML/1998/namespace', 'xml:space', 'preserve');
                linkspan.setAttribute('dy', '1em');
                linkspan.setAttribute('x', '1');
                linkspan.setAttribute('fill', 'blue');
                link = document.createElementNS('http://www.w3.org/2000/svg', 'a');
                link.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', 'https://whatsonchain.com/block-height/'+ blocks[i].height);
                link.setAttribute('target', '_blank');
                link.textContent = "#" + blocks[i].height;
                linkspan.appendChild(link);
                svg_label.appendChild(linkspan);
                
                //miner span
                minerSpan = document.createElementNS('http://www.w3.org/2000/svg','tspan');
                minerSpan.setAttributeNS('http://www.w3.org/XML/1998/namespace', 'xml:space', 'preserve');
                minerSpan.setAttribute('dy', '1em');
                minerSpan.setAttribute('x', '2');
                minerSpan.setAttribute('y', '20');
   

                if(blocks[i].miner && blocks[i].miner.name){
                    minerSpan.textContent = blocks[i].miner.name;
                } else if (blocks[i].miner){
                    minerSpan.textContent = blocks[i].miner.substring(0, 10);
                } else{
                    minerSpan.textContent = 'unknown';
                }
                 
                svg_label.appendChild(minerSpan);
                g.setNode(i,  { label: svg_label, labelType: 'svg' });
            }

            g.setNode(999,  {label: '', shape:"img" }); //Alpha node

            g.nodes().forEach(function(v) {
            var node = g.node(v);
            // Round the corners of the nodes
            node.rx = node.ry = 5;

            //- if(node.id === 999) {
            //-         node.shape = "img";
            //- }
            
            });
            


            for(var i=0 ;i<blocks.length-1;i++) {
                    g.setEdge(i+1, i); 
            }

            g.setEdge(0, 999);
            g.setEdge(998, blocks.length-1); 
 
            
            // Create the renderer
            var render = new dagreD3.render();
            render.shapes().img = function circle(parent, bbox, node) {
                //var r = Math.max(bbox.width, bbox.height) / 2,
                var shapeSvg = parent.insert("image")
                    .attr("class", "nodeImage")
                    .attr("xlink:href", function(d) {
                        if (node) {
                            return '../img/logo/bsv.png';
                        }
                    }).attr("x", "-20px")
                    .attr("y", "-20px")
                    .attr("width", "40px")
                    .attr("height", "40px");

                node.intersect = function(point) {
                return dagreD3.intersect.circle(node, 20, point);
                };
            
                svg.selectAll("g.node").on("click", function(id) 
                { 
                    var _node = g.node(id);
                    if(id == 999) 
                    {
                        window.open("https://bitcoinsv.io",'_blank');
                    }
            });

            return shapeSvg;
            };

            // Set up an SVG group so that we can translate the final graph.
            var svg = d3.select("#viz")
                .append("svg")
                .attr('width', "100%")
                .attr('height', "50%"),
                svgGroup = svg.append("g");

            //- // Set up zoom support
            //- d3.select("svg").call(d3.zoom().on("zoom", function () {svg.attr("transform", d3.event.transform)})).append("g"),
            //-         width = +svg.attr("width"),
            //-         height = +svg.attr("height");


            // Run the renderer. This is what draws the final graph.
            render(d3.select("svg g"), g);

            // Center the graph
            var xCenterOffset = (g.graph().width);
            svgGroup.attr("transform", "translate(" + 30 + ", 20)");
            svg.attr("height", g.graph().height + 40);
            
    //- div(class="col" style="float: left;")
    //-         a(href="/blocks")
    //-             i(class="fas fa-cubes")
    //-             span  Browse Blocks &raquo;
    