extends layout

block headContent
	title About

block content
	h1(class="h3") About
	hr

	p This tool is intended to be a simple, self-hosted explorer for the #{coinConfig.name} blockchain, driven by RPC calls to Bitcoin SV node. This tool is easy to run but lacks some features compared to database-backed explorers.

	p Special thanks to @janoside , @OmisNomis , @waqas64 and @mohamm_ad_il
		a(href="https://github.com/waqas64/woc-explorer") github.com/waqas64/woc-explorer

	<a href="https://twitter.com/WhatsOnChain?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @WhatsOnChain</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		
	//<a class="twitter-timeline" data-width="500" data-theme="light" href="https://twitter.com/WhatsOnChain?ref_src=twsrc%5Etfw">Tweets by WhatsOnChain</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>		
	
